@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

body {
  margin: 1;
}

h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

#main-navigation {
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  top: 0;
  left: 0;
  position: fixed;     /* Fixes the element to the screen */
  width: 100%;         /* Ensures it spans the entire width of the page */
  z-index: 1000;       /* Ensures the navbar stays on top of other content */
  padding: 10px 20px;
  background-color: #390281;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s; /* Smooth transition for background color changes */
/* Optional: Change background color on scroll */
}

body.scrolled #main-navigation {
  background-color: rgba(63, 0, 0, 1); /* Fully opaque on scroll */
}


#main-navigation a {
    text-decoration: none;         /* Remove underline */
    color: white;                  /* Text color */
    font-weight: bold;             /* Bold text */
    padding: 10px 20px;            /* Add space inside the links (top-bottom and left-right) */
    margin-right: 15px;            /* Add space between links */
    background-color: #550000;        /* Background for each link */
    border-radius: 5px;            /* Rounded corners for modern look */
    transition: background-color 0.3s ease, color 0.3s ease;  /* Smooth hover transition */
    display: inline-block;         /* Ensures padding works with the links */
  }
  
  #main-navigation a:hover,
  #main-navigation a:active {
    color: #ff000d9d;                /* Change color on hover */
    background-color: #3d0000a9;        /* Change background on hover */
  }
  
  #main-navigation h1 a:hover,
  #main-navigation h1 a:active {
    color: #ff000d9d;                  /* Keep h1 links white when hovered */
    background-color: #3d0000a9;
  }


  body {
    background-color: #b4b4b4;
    margin-top: 42px;
  }

  #about {
    text-align: center;
    padding: 3rem;
    background-color: #550000;
    margin-top: 5rem;
  }
  
  #about h2 {
    font-size: 3rem;
    color: #fbf5f5;
  }
  
  #about p {
    font-size: 1.5rem;
    color: #fbf5f5;
  }